@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

body {
	background-color: rgb(25, 7, 34);
	color: #fff;
}

.app {
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
	left: 0;
}

#vert-line {
	border-right: 2px solid #fff;
  	top: 0;
  	position: fixed;
  	bottom: 0;
}

#right-side {
	height: 100%;
	width: 75%;
	right: 0;
 	position: absolute;
 	top:0;
}

#left-side {
	height: 100%;
	width: 24%;
	left: 0;
 	position: absolute;
 	top:0;
}

.button {
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
	cursor: pointer;
	border: none;
  	font-size: larger;
  	padding: 10px;
  	left: 0;
  	position: absolute;
  	width: 100%;
  	border-radius: 10px;
	transition: 0.3s;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.30);
	transition: 0.3s;
}

.roboto {
 	font-family: "Roboto", sans-serif;
}

.middle {
	display: flex;
	justify-content: center;
 	align-items: center;
	height: 600px;
}

.science-gothic {
	font-family: "Science Gothic", sans-serif;
}

#add-app-msg {
	background-color: #242424;
	width: 430px; !important;
	height: 220px; !important;
	border-radius: 25px;
}